.hugh-row {
	margin-top: 1.5rem;
	vertical-align: center;
	position: relative;
	margin-bottom: 2rem;
	
		border: 1px solid red;
}

.hugh-row > div {
	padding-right: 1em;
	display: inline-block;
}

.hugh-row--last {
	margin-bottom: 0;
}

.hugh-input-container {
	min-width: 200px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	
	border: 1px solid yellow;
}

.hugh-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 0.8125rem;
}

.hugh-title--selected {
	color: blue;
}

.hugh-input {
	margin-top: 0.7rem;
	display: inline;
}

.hugh-input-hours {
	font-weight: 300;
	display: inline;	
}

.hugh-img {
	border: 2px solid transparent;
}

.hugh-img--selected {
	border: 2px solid blue;
	border-radius: 50%;

}
